#box{
	width: 600px;
	height: 600px;
	border:1px solid black;
	margin:20px auto;
}
#box div{
	width:28px;
	height: 28px;
	border:1px solid black;
	float: left;
}
.snake{
	background: red;
}
.food{
	background: green;
}    